{{#block "header"}}

<!DOCTYPE html>
<html>
 <head>
   <title>{{#block "title"}}Your score{{/block}}
</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 </head>
 <body>
 <p>word: {{word}}</p>
 <p>score: {{score}}</p>


{{/block}}

   <!-- begin inner template-->
   <div class="container">
     {{#block "content"}}
{{/block}}

   </div>
   <!-- end inner template-->
{{#block "footer"}}

 </body>
</html>
{{/block}}